@page "/devicesimulator"

@inject ProtoDeviceStateService.ProtoDeviceStateServiceClient ProtoDeviceStateServiceClient

@using Google.Protobuf.WellKnownTypes;
@using MudBlazor
@using ioDeviceEmulator.Shared;

<MudGrid Justify="Justify.FlexStart" xs="12">

    <MudItem>
        <MudPaper Class="pa-8 ma-2" Elevation="4">

        <h3>Digital inputs</h3>

        @if (digitalInpuuts == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var forecast in digitalInpuuts)
            {
                <MudStack Row="true" Class="d-flex align-center">
                    <MudToggleIconButton @bind-Toggled="@forecast.Activated" 
                                 Icon="@Icons.Material.Filled.LinkOff" Color="@Color.Error" Title="Open"
                                 ToggledIcon="@Icons.Material.Filled.Link" ToggledColor="@Color.Success" ToggledTitle="Closed" />
                    <MudText>@forecast.Name is @(forecast.Activated ? "On (1)" : "Off (0)")</MudText>
                </MudStack>
            }
        }

        </MudPaper>

    </MudItem>

    <MudItem >

        <MudPaper Class="pa-8 ma-2" Elevation="4">

            <h3>Relays</h3>

            @if (relays == null)
            {
                    <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var forecast in relays)
                {
                    <MudStack Row="true"  Class="d-flex align-center" Style="padding:12px">
                        @if (forecast.Activated)
                        {
                            <MudIcon Icon="@Icons.Material.Filled.KeyboardOptionKey" Color="Color.Success" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Material.Filled.KeyboardOptionKey" style="@($"color:{Colors.Grey.Default};")" />
                        }
                        <MudText Style="margin-left:12px"> @forecast.Name is @(forecast.Activated ? "On (1)" : "Off (0)")</MudText>
                    </MudStack>
                }
            }

        </MudPaper>
    </MudItem>
</MudGrid>

@code {

    private IList<DigitalInputViewModel>? digitalInpuuts;
    private IList<RelayViewModel>? relays;

    protected override async Task OnInitializedAsync()
    {
        var response = await ProtoDeviceStateServiceClient.GetProtoDeviceStateAsync(new Empty());
        var protoDis = response.DigitalInputs;
        var protoRs = response.Relays;

        digitalInpuuts = new List<DigitalInputViewModel>();

        foreach (var pdi in protoDis)
            digitalInpuuts.Add(new DigitalInputViewModel()
            {
                Index = pdi.Index,
                Name = $"Digital input {pdi.Index}",
                Activated = pdi.Status != 0 ? true : false
            });


        relays = new List<RelayViewModel>();

        foreach (var pr in protoRs)
            relays.Add(new RelayViewModel()
            {
                Index = pr.Index,
                Name = $"Relay {pr.Index}",
                Activated = pr.Status != 0 ? true : false
            });
    }

    public class DigitalInputViewModel
    {
        public int Index { get; set; }
        public string? Name { get; set; }
        public bool Activated { get; set; }
    }

    public class RelayViewModel
    {
        public int Index { get; set; }
        public string? Name { get; set; }
        public bool Activated { get; set; }
    }

}